.d-none{
  display: none;
}

.svg-product__compute-st9 {
  fill: url(#svg-gradient__dark-middle-2);
}
.svg-product__compute-st12 {
  fill: url(#svg-gradient__compute-st12);
}
.svg-product__compute-st13 {
  fill: url(#svg-gradient__dark-middle-st13);
}
.svg-product__compute-st14 {
  fill: url(#svg-gradient__dark-middle-st14);
}
.svg-product__compute-st10 {
  fill: url(#svg-gradient__dark-top-dark);
}
.svg-product__compute-st11 {
  opacity: 0.7;
  fill: #1D2540;
  enable-background: new;
}
.svg-product__compute-st15 {
  fill: url(#svg-gradient__dark-top-light);
}
.svg-product__compute-st16 {
  fill: url(#svg-gradient__blue-middle-st16);
}
.svg-product__compute-st17 {
  fill: url(#svg-gradient__blue-top-light-st17);
}
.svg-product__compute-st18 {
  fill: #FFFFFF;
}
.svg-product__compute-st19 {
  display: none;
  fill: #FFFFFF;
}
.svg-product__compute-st20 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #FFFFFF;
}
